<main-navigation></main-navigation>

<div>
    <div>
        <input type="text" placeholder="Title" ng-model="newTitle">
    </div>
</div>
<select id="category" ng-model="newCategory">
    <option value=""> Select a Category</option>
    <option value="{{ category.id }}" ng-repeat="category in categories"> {{ category.name }}</option>
</select>
</div>
<div>
    <select id="user" ng-model="newUserId">
        <option value=""> Select a User </option>
        <option value="{{ user.id }}" ng-repeat="user in users"> {{ user.firstname }} {{ user.lastname }}</option>
    </select>

    <div>
        <textarea id="post-area" cols="80" rows="15" placeholder="Write a post" ng-model="newContent"></textarea>
    </div>
    <div>
        <button id="composeButton" ng-click="addPost()"> Submit</button>
    </div>