<main-navigation ></main-navigation>



<div class="user-container">
    <h3> {{ user.firstname }} {{ user.lastname }}</h3>
    <h4> {{ user.email }} </h4>
    <h5> User ID: {{ user.id }}, Role: {{ user.role }}</h5>
    <!-- <button ng-click="userToUpdate()">Update</button>
<button ng-click="deleteUser()">Delete</button> -->

    <button class="btn btn-primary btn-lg" ng-click="userToUpdate()">Update</button>
    <button class="btn btn-danger btn-lg" ng-click="deleteUser()">Delete</button>
</div>